.box {
  padding: 15px;
  margin-bottom: 40px;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.1);
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #d3d3d3;
  box-sizing: border-box;
  background-color: white;
}

.box h5 {
  font-weight: 500px;
  border-bottom: 2px solid #0a0a0a;
}

.box p {
  font-size: 14px;
}
.image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid #92bde7;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2rem;
  /* margin-left: 5rem; */
}
@media only screen and (max-width: 550px) {
  .image {
    margin-top: -40px;
    margin-bottom: 1.5rem;
  }
}